/* common */
$textColor:#1b1b1b;
$textSecondaryColor:#888888;
$fontSize:16px;

/* topbar */
$topbarBgColor:#20272a;
$topbarBorderColor:#888888;
$topbarButtonBgColor:#ffffff;
$topbarButtonBorderColor:#888888;
$topbarButtonTextColor:#424242;
$topbarButtonHoverBgColor:#eaeaea;
$topbarButtonHoverTextColor:#333333;

/* sidebar */
$sidebarBgColor:#f4f4f4;
$sidebarBorderColor:#dee2e6;
$sidebarAnimationDuration:.3s;

/* mask */
$layoutMaskBgColor:#424242;

/* footer */
$footerBgColor:#ffffff;
$footerBorderColor:#dee2e6;
