.ui-button.ui-state-default.ui-button-secondary:enabled:hover, 
.ui-buttonset.ui-button-secondary > .ui-button.ui-state-default:enabled:hover {
    background-color: #c8c8c8;
    color: #333333;
    border-color: #c8c8c8;
}