.layout-sidebar {
    .ui-scrollpanel {
        background-color: $sidebarBgColor;
        border-top: none;
        border-radius: 0;
        .ui-scrollpanel-bar {
            background-color: $sidebarBgColor;
            opacity: .3;
        }
    }
}